*
{
    padding: 0;
    margin: 0;
}

.total
{
    background-color: black;
    width: 100%;
    height: 819px;
    display: flex;
    align-items: center;
    justify-items: center;
  
}

.top
{
    background-color: #DCDCDC;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1
{

    color: black;
    display: flex;

}

.container
{
    width: 100%;
    height: 819px;
    background-color: #808080;
    display: flex;
}
.centro
{
    width: 50%;
    height: 819px;
    background-color: #C0C0C0;
    display: flex;
    align-items: center;
   justify-content: center;

}
.onibus
{
    display: flex;
    width: 25%;
    height: 650px;
    background-color: #696969;
    justify-content: space-around;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

}
.cadeira
{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    height: 20%;
    background-color: #696969;
    justify-content: space-around;
    margin-top: 20%;
    align-content: flex-start;
}
.as
{
    background-color: plum;
    text-decoration: none;  
    color: black;
    display: flex;
    width: 45%;
    height: 27%;
    align-items: center;
    justify-content: center;
    margin-bottom: 25%;
}
